/* Style reset */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling */
body {
  color: #666;
  font-family: 'Roboto', sans-serif, Helvetica, Arial;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
}

h3 {
  font-weight: 300;
}

p {
  line-height: 40px;
  font-size: 24px
}

p>a{
  border-bottom: 3px #FF851A solid;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

hgroup {
  margin: 4% 0 1% 4%;
}

/* Form styling */
input,
textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: inherit;
  padding: 2%;
  margin-top: 10%;
}

input::placeholder,
textarea::placeholder {
  color: #aaaaaa;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #666;
  color: #666;
}

input:first-child {
  margin-top: 0;
}

button {
  background: none;
  border: #FF851A solid 2px;
  font-size: inherit;
  width: 100%;
  padding: 3%;
  color: #FF851A;
  cursor: pointer;
}

/* Text layout */
.textCenter .text p {
  line-height: 40px;
  font-size: 30px;
}

.text {
  margin: 8%;
}

.text h1,
.text h2 {
  color: #FF851A;
}

.text img {
  width: 100%;
  margin: 0 0 40px 0;
  border-radius: 2.5vw;
  box-shadow: 0px 5px 20px 3px rgba(102, 102, 102, 0.5);
}

.text strong {
  font-weight: 300;
  border-bottom: 3px #FF851A solid;
  color: #000;
}

.text.about img {
  box-shadow: none;
  margin: 9% auto;
  width: 80%;
  height: auto;
  display: block;
}

/* Computer Navigation */
header {
  display: none;
  justify-content: space-between;
  font-size: inherit;
  font-size: 19px;
  height: 13vh;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}

header > a {
  margin-left: 3%;
}

header a img {
  width: auto;
  height: 4vw;
}

header nav {
  width: 60%;
  margin-right: 4%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

.headerInfo {
  color: #fff;
}


/* Mobile Navigation */
footer {
  position: sticky;
  height: 60px;
  background: #fff;
  width: 100%;
  bottom: 0;
  border-top: 2px solid #ccc;
  display: flex;
  align-items: center;
}

footer nav {
  display: flex;
  width: 100%;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


/* Home work options */
.workOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 2% 0 1%;
}

.workOptions .work {
  background: #f32727;
  width: 86%;
  border-radius: 4%;
  padding-top: 86%;
  color: #fff;
  position: relative;
  margin: 0 1% 7% 0;
}

.workOptions .work:last-child {
  margin-bottom: 9%;
}

.workOptions .work a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.workOptions .work a img {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1.5vw;
  width: 50%;
  position: absolute;
  right: -4%;
  bottom: -4%;
}

/* Home Work options colors */

.work.simpledcard_2 {
  background-color: #0071B2;
}

.work.simpledcard_1 {
  background-color: #009ada;
}

.work.grotekerstballen {
  background: #e04b4b;
}

.work.gents {
  background: #434145;
} 

.work.koken {
  background: #fcc13e;
}

.work.plain {
  background: #7e2cff;
}

.work.illustrations {
  background: #666666;
}

.work.redesign {
  background: #f32727;
}

.work.portfolio {
  background: #FF851A;
}

/* Infopage heroImg colors */
.heroImg.simpledcard_2 {
  background: #0071B2;
}

.heroImg.simpledcard_1 {
  background: #009ada;
}

.heroImg.gents {
  background: #434145;
}

.heroImg.koken {
  background: #fcc13e;
}

.heroImg.redesign {
  background: #f32727;
}

.heroImg.plain {
  background: #7e2cff;
}

.heroImg.illustrations {
  background: #666;
}

.heroImg.portfolio {
  background: #FF851A;
}

/* Infopage */
.heroImg {
  width: 100%;
  position: relative;
  background: #e04b4b;
  height: 45vw;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 10%;
}

.heroImg img {
  box-shadow: 0px 5px 20px 3px rgba(102, 102, 102, 0.2);
  display: block;
  position: absolute;
  bottom: -10%;
  right: 5%;
  width: 30%;
  border-radius: 2.5vw
}


/* responsive */
@media all and (min-width: 650px) {

  /* Menu swap */
  header {
    display: flex;
  }

  footer {
    display: none;
  }

  /* Tekst layout */
  .text {
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
  }

  .text h1,
  .text h2 {
    width: 31%;
  }

  h2,
  header nav a {
    font-size: 3vw;
  }

  h1 {
    font-size: 4vw;
  }

  .text h1,
  .text h2 {
    margin-right: 2%;
    font-size: 4vw;
  }

  .text p,
  form {
    width: 67%;
    line-height: 5vw;
    font-size: 3vw;
  }

  /* Tekst layout about me page */
  .text.about {
    height: 87vh;
    align-items: center;
    justify-content: space-between;
  }

  .text.about img {
    width: 70%;
    margin: 0;
    width: 39%;
  }

  .text.about article {
    width: 56%;
  }

  .text.about article h1 {
    width: 100%;
  }

  .text.about article p {
    width: 100%;
  }

  /* Home work option */
  .workOptions .work {
    width: 45%;
    padding-top: 45%;
    margin: 0 0 4% 0;
  }

  /* For when adding an un even amount fo items */
  /* .workOptions .work:last-of-type{
    margin: 0 auto 0 2%
  } */

  .workOptions .work:last-child {
    margin-bottom: 4%;
  }

  /* Home tekst */
  .textCenter {
    display: flex;
    align-items: center;
    height: 35vw;
    margin: 15vh 4% 7vh 4%;
  }

  .textCenter .text p {
    line-height: 5vw;
    font-size: 4vw;
  }

  /* HeroImg */
  .heroImg {
    flex-direction: column-reverse;
  }

  .heroImg h1 {
    order: 1;
  }

  .heroImg img {
    width: 25%;
  }

  /* Image layering*/

.text .layerdImages {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 2.5vw;
  margin: 0 0 60px 0;
  box-shadow: 0px 5px 20px 3px rgba(102, 102, 102, 0.5);
}
.text .layerdImages img {
  margin: 0px;
  box-shadow: none;
  position: relative;
  right: -1px;
  width: 50%;
  height: auto;

}

.text .layerdImages img:first-child {
  border-radius:2.5vw 0 0 2.5vw;
}
.text .layerdImages img:last-child {
  border-radius:0 2.5vw 2.5vw 0;
  position: relative;
  left: -1px;
}
}

@media all and (min-width: 1000px) {
  /* font */

  header nav {
    font-size: 2vw;
  }

  .heroImg {
    margin-bottom: 5%; 
  }

  /* Home work options */
  .workOptions .work {
    width: 30%;
    padding-top: 30%;
  }

  .workOptions .work a h2 {
    font-size: 2vw;
  }

  .workOptions .work a h3 {
    font-size: 2vw;
  }

  /* Tekstv Layout */
  .text p,
  form {
    font-size: 2vw;
    line-height: 3.5vw;
  }
}

.text {
  padding-bottom:3% ;
}